body {
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
}
/*HEADER*/
.jumbotron{
    margin-top:0px;
    background-color:#D3D4D3;
    padding-top:3px;
    margin-bottom:0px;
    text-align:center;
}
h1.homepage{
    margin-top:0px;
    padding-top:25px;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    letter-spacing:4px;
    margin-bottom:0px;
}
h1.design{
    margin-top:0px;
    font-family: 'Sacramento', cursive;
    font-size:90px;
}
/*NAVBAR*/

/*FOOTER*/
